@page "/BookList"
@inherits BlazorTuSo0.Components.Pages.BookList.Booklistbase

@rendermode InteractiveServer


@if (Books == null){
    <div class="spinner"></div>
}
else{
    <a class="btn btn-primary m-1">Add</a>
<div class="card-group">

    @foreach (var book in Books)
    {
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div style="height: 100%" class="card h-100">
                <div class="card-header">
                    <h3>@book.BookId @book.BookName</h3>
                </div>
                <p>publisher: @book.Publisher 
                    </p>

                   <p>
                   Quantity @book.Quantity </p>

                                      <p>
                   Price @book.UnitPrice </p>
                <div class="card-footer text-center">


                </div>
            </div>
        </div>
    }
</div>
}
